.cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-items {
    transition: all 0.2s ease-in-out;
}

.cart-items:hover {
    background-color: #1c1c1c;
}
